body{
    background: linear-gradient(to left, black, navy);
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: 60px;
    padding: 1rem;
}
.main-container {
    display: block;
    background: linear-gradient(to top, lightsteelblue,whitesmoke);
    height: 300px;
    width: 30%;
    border-radius: 13px;
    margin-left: auto;
    margin-right: auto;
}
.height_container {
    margin-bottom: 5%;
    font-size: 25px;
    color: black;
    padding: 1rem;
}
.weight_container {
    margin-bottom: 5%;
    font-size: 25px;
    color: black;
    padding: 1rem;
}
input{
    height: 25px;
    border-radius: 6px;
    border: 0.5px solid black;
}
.calBtn{
    width: 40%;
    height: 32px;
    color: black;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .calBtn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .calBtn:hover svg {
    stroke-dashoffset: -480;
  }
  